@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Edu+NSW+ACT+Cursive:wght@400..700&family=Kapakana:wght@300..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to left, #5a1459, #832dbd);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.todo-container {
  background: white;
  padding: 30px;
  border-radius: 15px;
  width: 300px;
  box-shadow: 0 0 25px rgb(50, 48, 48);
  text-align: center;
}
h2{
    font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}
input {
  width: 70%;
  padding: 10px;
  margin-bottom: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px;
  background-color: #0776fe;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
   transition: transform 0.1s ease, box-shadow 0.1s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

button:active {
  transform: scale(0.96); /* Slightly shrink */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Reduce shadow */
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: #f4f4f4;
  margin: 5px 0;
  padding: 10px 40px 10px 10px;
  border-radius: 5px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li.completed span {
  text-decoration: line-through;
  color: gray;
}

.check-btn, .delete-btn {
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  margin-left: 10px;
}

.check-btn {
  color: green;
}

.delete-btn {
  color: red;
}

